/*Navegacion*/
.navbar-brand>img {
    height:4rem;
    width: auto;
}

/*Header*/
.carousel-item {
    height: 45vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }